[include]
	path = .gitconfig.local

[color]
	ui = true
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
	wdiff = diff --color-words --ignore-all-space
	ldiff = difftool -y -t latex
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	dt = difftool

[difftool.latex]
	cmd = latexdiff -e ISO-2022-JP "$LOCAL" "$REMOTE"

[push]
	default = matching

[core]
	editor = vim

[diff]
	tool = vimdiff
	compactionHeuristic = true
[user]
	email = atushi.k@gmal.com
	name = Atsushi Kawamura
[credential]
	helper = osxkeychain

[url "ssh://git@github.com"]
	insteadOf = git://git@github.com

[url "ssh://github.com"]
	insteadOf = https://github.com

[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
