[include]
	path = .gitconfig.local

[color]
	ui = true
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
	wdiff = diff --color-words --ignore-all-space
	ldiff = difftool -y -t latex
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	dt = difftool

[difftool.latex]
	cmd = latexdiff -e ISO-2022-JP "$LOCAL" "$REMOTE"

[push]
	default = matching

[core]
	editor = vim

[diff]
	tool = vimdiff
	compactionHeuristic = true
